@media only screen and (max-width: 640px) {
    .header {
        height: auto !important;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        .container {
            height: 100% !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .header-body {
            width: 100%;
            margin-top: auto;
            height: 70vh;
            display: flex;
            flex-direction: column;

            h1 {
                margin-top: auto;
                font-size: 40px;
                line-height: 50px;
            }

            p {
                margin: 10px 0;
            }
        }
    }

    .container {
        max-width: 550px;
    }

    .floating {
        display: none;
    }
  }